<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
      <defaultDocument enabled="true">
         <files>      
            <clear />                
            <add value="index.php" />
			<add value="index.htm" />
			<add value="index.html" />
         </files>
      </defaultDocument>
      <modules runAllManagedModulesForAllRequests="true" />
        <staticContent>
            <mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
            <mimeMap fileExtension=".jsp" mimeType="text/html" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
            <mimeMap fileExtension=".webm" mimeType="video/webm" />
            <mimeMap fileExtension=".text" mimeType="text/plain" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}.php" matchType="IsFile" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.php" />
                </rule>
                <rule name="Imported Rule 1-1" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}.php" matchType="IsFile" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.php" />
                </rule>
            </rules>
        </rewrite> 
   </system.webServer>
    <location path="" overrideMode="Deny">
        <system.webServer>
        </system.webServer>
    </location>
    <location path="" overrideMode="Allow">
        <system.webServer>
		<httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <error statusCode="401" prefixLanguageFilePath="" path="/401.html" responseMode="ExecuteURL" />
            <error statusCode="403" prefixLanguageFilePath="" path="/403.html" responseMode="ExecuteURL" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
            <error statusCode="405" prefixLanguageFilePath="" path="/405.html" responseMode="ExecuteURL" />
            <error statusCode="406" prefixLanguageFilePath="" path="/406.html" responseMode="ExecuteURL" />
            <error statusCode="412" prefixLanguageFilePath="" path="/412.html" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/500.html" responseMode="ExecuteURL" />
            <error statusCode="501" prefixLanguageFilePath="" path="/501.html" responseMode="ExecuteURL" />
            <error statusCode="502" prefixLanguageFilePath="" path="/502.html" responseMode="ExecuteURL" />
        </httpErrors>
        </system.webServer>
    </location>
</configuration>